/* ChangePassword.css */

/* Container styles */
.change-password-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Form styles */
  .change-password-form {
    display: flex;
    flex-direction: column;
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .p-inputtext {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Button styles */
  .p-button-raised {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .p-button-raised:hover {
    background-color: #0056b3;
  }
  
  /* Error message styles */
  .error-message {
    color: red;
    margin-top: 10px;
  }
  